body{
    width: 90%;
    height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
    text-align: center;
    margin: 10px;
    background-color: #d4d447;
    clear: both;
}

table{
    margin: 50px 50px 50px 50px;
    background-color: #d4d447;
    width: 100%;
    height: 100%;
    clear: both;
}

#tableTitle{
    text-align: center;
    font-size: 40px;
    height: 10%;
}

#letterSpace{
    width: 60px;
    float: left;
    padding: 19px;
}

button{
    border-radius: 10px;
    border-color: solid 1px white;
    font-size: 32px;
    color: #c1d72e;
    text-decoration: none;
    padding: 18px 10px;
    width: 70px;

        &:hover{
            background-color: #d4d447;
            border: solid 1px white;
            color: white;
        }
}

#passwdSpace{
    text-align: center;
    float:left;
    font-size: 50px;
    letter-spacing: 15px;
    clear: right;
    width: 30%;
    height: 200px;
    word-wrap: break-word;
}

#hangmanSpace{
    text-align: center;
    float:left;
    clear: right;
    width: 30%;
    height: 200px;
    font-size: 50px;
}

#imageSpace{
    text-align: center;
    float:left;
    clear: right;
    width: 30%;
    height: 200px;
    font-size: 50px;
}

img{
    height: 200%;
}

#letters{
    height: 30%;
}

#newGameButt{
    float: right;
    width: 50%;
}